body {
    background-color: var(--primary-cooler-strong);
    background-image: url(../images/bg-desktop.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 62.5%;
    height: 100vh;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 3rem;
    height: 90vh;
    padding: 0 10%;


}

section.content_images {

    min-width: 50%;



}

section.content_images .logo_huddle {
    width: 200px;
    padding-bottom: 4rem;


}

section.content_images img {
    width: 100%;

}



section.content_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    max-width: 40em;
    gap: 2rem;



}

section.content_text h1 {
    color: #fff;
    font-size: 2rem;
    font-family: var(--font-family-body);

}


section.content_text p {
    color: #fff;
    font-size: 1rem;
    font-family: var(--font-family-Heading);
    line-height: 1.5;


}




.btn {
    border: none;
    border-radius: 1.5rem;
    background-color: #fff;
    color: var(--primary-cooler-strong);
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--font-family-body);
    box-shadow: 0rem 0rem .8rem #000;

}

.btn:hover {
    background-color: var(--primary-cooler-light);
    color: #fff;
    cursor: pointer;

}

.icons {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    color: #fff;
    gap: 1rem;
    padding-bottom: 2rem;
    margin-right: 5rem;
}

.icons i {
    border: 1px solid;
    border-radius: 50%;
    padding: .5rem;
    width: 34px;
    text-align: center;

}

.icons i:hover {
    color: var(--primary-cooler-light);
    cursor: pointer;
    font-weight: 600;
}


@media screen and (max-width: 768px) {

    body {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    main {
        flex-direction: column;
        align-items: center;
        width: 80%;
        height: 100vh;
        gap: 1rem;
    }

    section.content_images .logo_huddle {
        padding: 2rem 0rem 1rem;
    }


    section.content_images img {
        max-width: 100%;

    }


    section.content_text {
        gap: 1.5rem;
        text-align: center;

    }

    section.content_text h1 {
        font-size: 1.6rem;
    }




    section.content_text .btn {
        margin: auto;
    }


    .icons {
        margin: 2rem auto 0;

    }

}

@media screen and (max-width: 414px) {

    main {
        height: 100%;
        gap: 1rem;


    }

    section.content_images {

        margin-top: 1rem;
    }

    section.content_images .logo_huddle {
        padding: 1rem;
    }

    section.content_text {
        gap: 1.7rem;
    }

    section.content_text h1 {
        font-size: 1.5rem;
    }

    section.content_text p {
        font-size: 0.9rem;
    }

    .btn {
        padding: 0.5rem 2rem;
        font-size: 0.8rem;
        margin-bottom: 2rem;
    }

    .icons {
        padding: 0.5rem 0 1rem;
        margin: 0;
    }
}